body{
	background-image: url("/#001_landing_page/Screenshot 2024-07-27 095018.png");
	background-size: cover;
	background-repeat: repeat;
	margin: 0;
	padding: 0;
	font-family: Arial sans-serif;
}